<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="AdButler PHP Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
</phpunit>
